@page
@model IndexModel
@{
    ViewData["Title"] = "RazorBoatApp homepage";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hillerød Sailclub @Model.Name @DateTime.Now.Year</h1>
</div>
